# Ignorec documentation in stats
docs/** linguist-vendored
html/** linguist-vendored
doxygen/** linguist-vendored

# Ignores every HTML files everywhere (for measure)
*.html linguist-vendored
*.css linguist-vendored
*.js linguist-vendored